<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <head>
        <title>확인해 주세요</title>
    </head>
    <div layout:fragment="content">
        <div class="card">
            <h2 class="card-header" th:text="${describe}"></h2>
            <form action="/update/status" method="POST" class="card-body">
                <div>
                    보내는 방법 : <span th:text="${method}"></span> <br>
                </div>
                <hr>
                <div class="">
                    보내는 사람 : <span th:text="${sender}"></span> <br>
                    전화번호 : <span th:text="${senderPhone}"></span> <br>
                </div>
                <hr>
                <div class="">
                    받는 사람 : <span th:text="${recipient}"></span> <br>
                    전화번호 : <span th:text="${recipientPhone}"></span> <br>
                    주소 : <span th:text="${recipientAddress}"></span> <br>
                    상태 : <span th:text="${status}"></span>
                </div>
                
                <button class="btn btn-primary" type="submit" name="check" value="yes">승인</button>
                <button class="btn" type="submit" name="check" value="no">거절</button>
            </form>
            <form class="input-group mb-3 card-body" action="/update/address" method="POST">
                <div class="input-group mb-3">
                    <input class="form-control" name="address" type="text" placeholder="주소">
                </div>
                <input class="btn btn-primary" type="submit" value="주소 변경">
            </form>
            <script class="card-body" src="https://nsp.pay.naver.com/sdk/js/naverpay.min.js"
                data-client-id="u86j4ripEt8LRfPGzQ8"
                data-mode="production"
                data-merchant-user-key="fsd2v24gcc"
                data-merchant-pay-key="sfd2edgd"
                data-product-name="택배"
                data-total-pay-amount="1000"
                data-tax-scope-amount="1000"
                data-tax-ex-scope-amount="0"
                data-return-url="http://bontin.ga/">
            </script>
        </div>
    </div>
</html>