<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <div layout:fragment="content">
        <div class="jumbotron">
            <h2 class="page-header">제품명</h2>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    보내는 사람 : <span th:text="sender"></span> <br>
                    전화번호 : <span th:text="senderPhone"></span> <br>
                </div>
                <div class="col-sm-6 col-md-4">
                    받는 사람 : <span th:text="recipient"></span> <br>
                    전화번호 : <span th:text="recipientPhone"></span> <br>
                    주소 : <span th:text="recipientAddress"></span>
                </div>
            </div>
            <button class="btn btn-primary">맞습니다.</button>
            <button class="btn">틀립니다.</button>
        </div>
    </div>
</html>