<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <head>
        <title>Mir Post</title>
    </head>

    <div layout:fragment="content">
        <div class="card mb-3">
            <h5 class="card-header">환영합니다!</h5>
            <p class="card-body">미르택배는 택배 승인 시스템을 통해 택배 시스템에 새로운 패러다임을 제시하고 있습니다!</p>
        </div>
        <div class="card">
            <h5 class="card-header">배송 조회</h5>
            <div class="card-body">
                <form class="input-group md-1" action="/search" method="GET">
                    <input class="form-control" name="no" type="text" placeholder="배송 번호를 입력하세요.">
                    <div class="input-group-append">
                        <input class="btn btn-outline-primary" type="submit" value="검색">
                    </div>
                </form>
            </div>
            
        </div>
    </div>
</html>
