<!DOCTYPE html>
<html lang="ko">
    <head><th:block th:replace="fragments/head::head"></th:block></head>
    <body>
        <nav th:replace="fragments/nav::nav"></nav>
        <div class="container" layout:fragment="content"></div>
        <!-- <footer th:replace="fragment/footer"></footer> -->
    </body>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>
