<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
    <head>
        <title></title>
    </head>
    <div layout:fragment="content">
        <div class="card mb-3">
            <div class="card-header">
                Q. 배송과정은 어떻게 이루어지나요?
            </div>
            <div class="card-body">
                - 선불 <br>
                택배 접수 > 온라인 요금 결제 > 수령인에게 문자 발송 > 수령인 동의 > 택배 발송 > 택배 수령 <br>
                - 착불 <br>
                택배 접수 > 수령인에게 문자 발송 > 수령인 동의 > 택배 발송 및 온라인 요금 결제 > 택배 수령
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Q. 배송 정보 조회는 무엇인가요?
            </div>
            <div class="card-body">
                택배 접수 시 발급받은 택배 번호로 홈페이지 메인화면에서 배송 정보를 조회할 수 있습니다. 조회 시 현재 택배 위치, 동의 여부 및 택배 품목 등을 알 수 있습니다.
            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                Q. 택배 요금은 어떻게 책정되나요
            </div>
            <div class="card-body">
                택배 요금은 무게별로 나뉩니다. 자세한 내용은 아래 요금표를 참고해주세요.
            </div>
        </div>
    </div>
</html>
