<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/reservation.css">
    <title>신청</title>
</head>
<body>
    <div layout:fragment="content">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        로그인이 필요한 서비스 입니다.
    </div>
    <div class="card">
        <div class="card-header navbar">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item" style="font-size: 22px;">택배 예약</li>
            </ul>
            <div class="nav btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-primary active">
                    <input type="radio" name="type" id="option1" checked>선불
                </label>
                <label class="btn btn-primary">
                    <input type="radio" name="type" id="option2">착불
                </label>
            </div>
        </div>
        
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="받을 사람">
                <span class="input-group-append">
                    <input class="btn btn-outline-primary" type="submit" value="검색">
                </span>
            </div>
        </div>
    </div>
    </div>
</body>
</html>