<!DOCTYPE html>
<html lang="ko" layout:decorate="~{layout}">
    <head>
        <title></title>
    </head>
    <div layout:fragment="content">
        <div class="card">
            <h2 class="card-header" th:text="${describe}"></h2>
            <div class="card-body">
                <div>
                    보내는 방법 : <span th:text="${method}"></span> <br>
                </div>
                <hr>
                <div>
                    보내는 사람 : <span th:text="${sender}"></span> <br>
                    전화번호 : <span th:text="${senderPhone}"></span> <br>
                </div>
                <hr>
                <div>
                    받는 사람 : <span th:text="${recipient}"></span> <br>
                    전화번호 : <span th:text="${recipientPhone}"></span> <br>
                    주소 : <span th:text="${recipientAddress}"></span> <br>
                    상태 : <span th:text="${status}"></span>
                </div>
            </div>
        </div>
    </div>
</html>